*{
    box-sizing: border-box;
}
body {
    background: wheat;
    
}
figure{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
}
figcaption {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.8rem;
    
}
figcaption span{
    font-family: 'Sansita Swashed', cursive;
    color: whitesmoke;
    font-size: 3.5rem;
}
img {
    width: 100%;
    border-radius: 10px;
    box-shadow:12px 12px 7px grey;
    max-width: 800px;
}
.left-link {
    left: 0;
}

.right-link {
    right: 0
}
.left-link,
.right-link {
    position: absolute;
    top: 30vh;
    font-size: 3.2em;
}

.left-link a,
.right-link a {
    text-decoration: none;
     padding: 20px;
     color: whitesmoke;
}
.center{
    position:absolute;
    font-size: 2.5em;
    left: 44vh;
    margin-top: 12px;
}
.center a{
    text-decoration: none;
    padding: 1.5px;
    color: whitesmoke;
}
.center a:hover{
    color: grey;
}
.left-link a:hover,.right-link a:hover{
    color: grey
}

@media (max-width: 650px){
    figcaption{
        position: absolute;
        bottom: 1.2rem;
        left: 16px;
        right: 0;
        text-align: center;
        font-size: 1.8rem;
    }
    figcaption span{
        font-family: 'Sansita Swashed', cursive;
        color: whitesmoke;
        font-size: 3.5rem;
    }
    .center{
        font-size: 2.3em;
        left: 36vh;
        margin-top: 12px;
    }
    .left-link,
    .right-link {
    position: absolute;
    top: 23vh;
    font-size: 3.2em;}
}
@media (max-width: 400px){
    figcaption{
        position: absolute;
        bottom: 1.2rem;
        left: 16px;
        right: 0;
        text-align: center;
        font-size: 1.8rem;
    }
    figcaption span{
        font-family: 'Sansita Swashed', cursive;
        color: whitesmoke;
        font-size: 2.5rem;
    }
    .center{
        font-size: 1.8em;
        left: 19vh;
        margin-top: 12px;
    }
    .left-link,
    .right-link {
    position: absolute;
    top: 16vh;
    font-size: 2.2em;}   
}
@media (max-width: 300px){
    figcaption{
        position: absolute;
        bottom: 1.2rem;
        left: 12px;
        right: 0;
        text-align: center;
        font-size: 1.8rem;
    }
    figcaption span{
        font-family: 'Sansita Swashed', cursive;
        color: whitesmoke;
        font-size: 1.5rem;
    }
    .center{
        font-size: 1.2em;
        left: 11vh;
        margin-top: 12px;
    }
    .left-link,
    .right-link {
    position: absolute;
    top: 12vh;
    font-size: 1.5em;}

}